@font-face {
    font-family: 'Roboto-regular';
    src: url(../../fonts/roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(../../fonts/roboto/Roboto-Black.ttf) format(truetype);
    font-weight: extra-bold;
}

@font-face {
    font-family: 'Roboto-light-italics';
    src: url(../../fonts/roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: light-italic;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    margin-bottom: 0;
    padding: 0 7vw;
}

.logo {
    width: 500px;
    height: auto;
}

ul {
    width: 360px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    padding-left: 12px;
    font-family: Roboto-regular;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

a:hover {
    color: #1F2937;
    background-color: #E5E7EB;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    padding: 4vh;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto-regular;
    font-size: 24px;
}

.first-section {
    display: grid;
    align-items: center;
    background-color: #1F2937;
    padding: 5vh 7vw;
}

.first-section article {
    margin-left: auto;
    margin-right: auto;
}

.first-section h1 {
    font-family: Roboto-black, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    margin-top: -50px;
    margin-bottom: 0;
    padding-top: 0;
}

.first-section p {
    font-family: Roboto-regular, sans-serif;
    color: #E5E7EB;
    font-weight: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-section button, .fourth-section button {
    width: 250px;
    height: 70px;
    background-color: #3882f6;
    border: none;
    border-radius: 16px;
    margin-top: 12px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.7s ease-in-out;
}

.first-section button:hover, .fourth-section button:hover {
    background-color: #F9FAF8;
    border: 1px solid #F9FAF8;
    color: #3882f6;
}

.first-section img {
    max-width: 48%;
    height: 50%;
}

.first-section button img, .fourth-section button img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}


.card {
    background-color: #1F2937;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}


.adoption-form {
    padding: 20px; 
}

.adoption-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: white; 
}

.adoption-form input,
.adoption-form textarea {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #E5E7EB; 
    color: #1F2937;
    border: none;
    border-radius: 5px;
}

.adoption-form textarea {
    resize: vertical;
}

.adoption-form button {
    width: 100%;
    height: 40px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    color: #F9FAF8;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.adoption-form button:hover {
    background-color: #F9FAF8;
    color: #3882f6;
    cursor: pointer;
}

.animals-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px; 
}

.animals-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animals-cards img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 10px;
}

