@font-face {
    font-family: 'Roboto-regular';
    src: url(../../fonts/roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(../../fonts/roboto/Roboto-Black.ttf) format(truetype);
    font-weight: extra-bold;
}

@font-face {
    font-family: 'Roboto-light-italics';
    src: url(../../fonts/roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: light-italic;
}

body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-regular';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 12px 12vw 0 12vw;
}

.logo {
    width: 250px;
    height: auto;
}

ul {
    width: 360px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    padding-left: 12px;
    font-family: Roboto-regular;
    font-size: 18px;
}

.logo-link {
    color: #E5E7EB;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

.logo-link:hover {
    color: #1F2937;
    background-color: #E5E7EB;
}

main p {
    font-family: Roboto-regular;
    text-align: justify;
}

main strong {
    color: #1F2937;
}

main .title {
    font-family: Roboto-black;
    font-weight: bold;
    margin: 2vw;
    color: #1f2937;
}

main .reasons,
main .payment {
    margin: 4.5vw;
}

main .payment {
    display: flex;
    justify-content: space-between;
}

main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .reasons .container p {
    width: 45%;
    margin: 1.5vh;
}

main .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    width: 200px;
    background-color: #1F2937;
    color: #F9FAF8;
    border-radius: 10%;
    font-family: Roboto-black;
    font-size: 24px;
}

main .payment .img_background {
    background-color: #E5E7EB;
    border-radius: 50%;
    padding: 0.5vw;
}

main .payment img {
    width: 250px;
    height: auto;
    filter: invert(70%) brightness(40%);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    padding: 4vh;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto-regular;
    font-size: 24px;
}