@font-face {
    font-family: 'Roboto-regular';
    src: url(../../fonts/roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(../../fonts/roboto/Roboto-Black.ttf) format(truetype);
    font-weight: extra-bold;
}

@font-face {
    font-family: 'Roboto-light-italics';
    src: url(../../fonts/roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: light-italic;
}

body {
   margin: 0;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #1F2937;
   color: #F9FAF8;
   margin-bottom: 0;
   padding: 0 7vw;
}

.logo {
   height: 90%;
   width: auto;
   margin-left: 0;
   padding-left: 0;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    padding-left: 12px;
    font-family: Roboto-regular;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

a:hover {
    color: #1F2937;
    background-color: #E5E7EB;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    padding: 4vh;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto-regular;
    font-size: 24px;
}