@font-face {
    font-family: 'Roboto-regular';
    src: url(../../fonts/roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(../../fonts/roboto/Roboto-Black.ttf) format(truetype);
    font-weight: extra-bold;
}

@font-face {
    font-family: 'Roboto-light-italics';
    src: url(../../fonts/roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: light-italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-regular';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
}

.logo {
    width: 500px;
    height: auto;
}

ul {
    width: 360px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    padding-left: 12px;
    font-family: Roboto-regular;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

a:hover {
    color: #1F2937;
    background-color: #E5E7EB;
}

.first-section {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 5vh 7vw;
}

.first-section article {
    margin-left: auto;
    margin-right: auto;
}

.first-section h1 {
    font-family: Roboto-black, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    margin-top: -50px;
    margin-bottom: 0;
    padding-top: 0;
}

.first-section p {
    font-family: Roboto-regular, sans-serif;
    color: #E5E7EB;
    font-weight: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-section button, .fourth-section button {
    width: 250px;
    height: 70px;
    background-color: #3882f6;
    border: none;
    border-radius: 16px;
    margin-top: 12px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.7s ease-in-out;
}

.first-section button:hover, .fourth-section button:hover {
    background-color: #F9FAF8;
    border: 1px solid #F9FAF8;
    color: #3882f6;
}

.first-section img {
    max-width: 48%;
    height: 50%;
}

.first-section button img, .fourth-section button img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.second-section h1 {
    font-family: 'Roboto-black';
    font-size: 36px;
    color: #1F2937;
}

.cards-container {
    width: 70%;
    display: flex;
    gap: 30px;
}

.animals-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 15px;
}

.animals-cards img {
    max-width: 100%;
    border-radius: 50%;
}

.third-section{
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-section p{
    max-width: 1000px;
    font-family: 'Roboto-light-italics';
    text-align: justify;
    color: #1F2937;
    font-size: 36px;
}

.third-section p > span{
    margin-left: 10%;
    font-family: 'Roboto-black';
}

.fourth-section{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.call-to-action{
    max-width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 3%;
    border: none;
}
.call-to-action p {
    max-width: 650px;
    font-family: 'Roboto-black';
    font-size: 36px;
    color: #F9FAF8;
    margin-right: 5%;
}

.call-to-action button{
    border: 1px solid #F9FAF8;
}
