@font-face {
    font-family: 'Roboto-regular';
    src: url(../../fonts/roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(../fonts/roboto/Roboto-Bold.ttf) format(truetype);
    font-weight: extra-bold;
}

@font-face {
    font-family: 'Roboto-light-italics';
    src: url(../../fonts/roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: light-italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-regular;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 12px 12vw 0 12vw;
}

.logo {
    width: 250px;
    height: auto;
}


ul {
    width: 360px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    padding-left: 12px;
    font-family: Roboto-regular, sans-serif;
    font-size: 18px;
}

.logo-link {
    color: #E5E7EB;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

.logo-link:hover {
    color: #1F2937;
    background-color: #E5E7EB;
}

.first-section {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 16vh 12vw;
}

.first-section div {
    margin-right: 3vw;
}

.first-section h1 {
    font-family: Roboto-black, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 0;
}

.first-section p {
    color: #cdcfd4;
    font-size: 18px;
    margin-top: 10px;
}

.link-button {
    text-decoration: none;
}

.first-section button,
.fourth-section button {
    width: 150px;
    height: 40px;
    background-color: #3882f6;
    border: none;
    border-radius: 7px;
    margin-top: 12px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.7s ease-in-out;
    font-family: Roboto-black, sans-serif;
    cursor: pointer;
}

.first-section button:hover,
.fourth-section button:hover {
    background-color: #F9FAF8;
    border: 1px solid #F9FAF8;
    color: #3882f6;
}

.first-section img {
    max-width: 50%;
    height: 50%;
}

.first-section button img,
.fourth-section button img {
    width: 16px;
    height: auto;
    margin-left: 10px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.second-section h2 {
    font-family: 'Roboto-black', sans-serif;
    font-size: 40px;
    color: #1F2937;
}

.cards-container {
    display: flex;
    gap: 30px;
}

.animals-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.animals-cards img {
    width: 180px;
    height: 180px;
    border-radius: 7px;
}

figcaption {
    font-weight: bold;
    margin-top: 10px;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16vh 12vw;
}

.third-section .first-p {
    max-width: 1000px;
    font-family: 'Roboto-light-italics', sans-serif;
    text-align: justify;
    color: #1F2937;
    font-size: 36px;
}

.third-section .second-p {
    width: 70%;
    font-size: larger;
    font-family: 'Roboto-black', sans-serif;
    text-align: right;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16vh 12vw;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 7px;
    padding: 3% 7%;
    border: none;
}

.call-to-action h3 {
    font-family: 'Roboto-black', sans-serif;
    color: #F9FAF8;
    margin-right: 5%;
    font-size: 24px;
}

.call-to-action p {
    color: #F9FAF8;
    margin: 5px 20px 0 0;
    font-size: 16px;
}


.fourth-section button {
    border: 1px solid #F9FAF8;
}

footer {
    font-family: Roboto-regular, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0px;
    padding: 5vh;
    background-color: #1f2937;
    color: #f9faf8;
}