@font-face {
    font-family: 'Roboto-regular';
    src: url(../../fonts/roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(../../fonts/roboto/Roboto-Black.ttf) format(truetype);
    font-weight: extra-bold;
}

@font-face {
    font-family: 'Roboto-light-italics';
    src: url(../../fonts/roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: light-italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-regular';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
}

.logo {
    width: 500px;
    height: auto;
}

ul {
    width: 360px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    padding-left: 12px;
    font-family: Roboto-regular;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}

a:hover {
    color: #1F2937;
    background-color: #E5E7EB;
}

.first-section {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 5vh 7vw;
}

.first-section article {
    margin-left: auto;
    margin-right: auto;
}

.first-section h1 {
    font-family: Roboto-black, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    margin-top: -50px;
    margin-bottom: 0;
    padding-top: 0;
}

.first-section p {
    font-family: Roboto-regular, sans-serif;
    color: #E5E7EB;
    font-weight: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-section button {
    width: 250px;
    height: 70px;
    background-color: #3882f6;
    border: none;
    border-radius: 16px;
    margin-top: 12px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.7s ease-in-out;
}

.first-section button:hover {
    background-color: #F9FAF8;
    border: 1px solid #F9FAF8;
    color: #3882f6;
}

.first-section img {
    max-width: 48%;
    height: 50%;
}

.first-section button img {
    width: 35px;
    margin-left: 10px;
}

/*
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    padding: 4vh;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto-regular;
    font-size: 24px;
}
*/