@font-face {
  font-family: 'Roboto-regular';
  src: url(../../fonts/roboto/Roboto-Regular.ttf) format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-black';
  src: url(../../fonts/roboto/Roboto-Black.ttf) format(truetype);
  font-weight: extra-bold;
}

@font-face {
  font-family: 'Roboto-light-italics';
  src: url(../../fonts/roboto/Roboto-LightItalic.ttf) format(truetype);
  font-weight: light-italic;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-regular;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2937;
  color: #F9FAF8;
  margin-bottom: 0;
  padding: 0 7vw;
}

.logo {
  height: 90%;
  width: auto;
  margin-left: 0;
  padding-left: 0;
}

ul {
   display: flex;
   list-style: none;
   justify-content: space-around;
}

li {
   padding-left: 12px;
   font-family: Roboto-regular;
   font-size: 18px;
}

a {
   color: #E5E7EB;
   text-decoration: none;
   transition: 0.7s ease-in-out;
}

a:hover {
   color: #1F2937;
   background-color: #E5E7EB;
}

.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.img_background{
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  border-radius: 50%;
  width: 250px;
  margin: 2rem auto;
  transform: translateY(-100px);
}

.about-img {
  width: 230px;
  height: auto;
  filter: invert(70%) brightness(40%);
}

.about-section-left {
  width: 450px;
  margin-top: 5rem;
  text-align: start;
  padding: 0 30px 0;
  border-radius: 25px;
  background-color: #1f2937;
}
.about-section-right {
  margin-top: 5rem;
  width: 600px;
  text-align: start;
  padding: 20px;
  position: relative;
}

.about-section-left h3 {
  transform: translateY(-50px);
  color: #f9faf8;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin: 0.8vh;
}

.about-section-left p {
  transform: translateY(-50px);
  margin: 0.8vh;
  color: #f9faf8;
  text-align: justify;
}

.left-description ul img{
  transform: translateY(-35px);
  filter: invert(100%);
  mix-blend-mode: lighten;
} 

.about-section-right p {
  text-align: justify;
  font-weight: 50;
  color: #1f2937;
}

.about-section-right h2{
  color: #1F2937;
  font-weight: bold;
  font-family: Roboto-black;
  font-size: 42px;
}

.about-section-right .right-p {
  margin-top: 3rem;
}
.about-section-right .adopt-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #1f2937;
  margin-top: 50px;
}
.about-section-right .adopt-button a {
  color: #f9faf8;
  margin: 5px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 200;
}
.about-section-right img {
  width: 35px;
}

.about-container .contact {
  margin-top: 0.5vh;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
}
ul li img {
  width: 50px;
  border-radius: 25%;
  border-color: #f9faf8;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  padding: 4vh;
  background-color: #1f2937;
  color: #f9faf8;
  font-family: Roboto-regular;
  font-size: 24px;
  margin-top: 5rem;
}
