* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-regular";
  /* border: 1px solid black; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  color: white;
}
li {
  padding-left: 12px;
  font-family: Roboto-regular;
  font-size: 18px;
}
a {
  color: #e5e7eb;
  text-decoration: none;
  transition: 0.7s ease-in-out;
}

a:hover {
  color: #1f2937;
  background-color: #e5e7eb;
}

.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.about-img {
  border-radius: 50%;
  width: 250px;
  display: block;
  margin: 2rem auto;
}

.about-section-left {
  width: 450px;
  margin-top: 5rem;
  text-align: start;
  padding: 0 30px 0;
  border-radius: 25px;
}

.about-section-left .left-p,
.left-description {
  margin: 3rem 0;
}
.about-section-right {
  margin-top: 5rem;
  width: 600px;
  text-align: start;
  padding: 20px;
  position: relative;
}

.about-section-left {
  background-color: #1f2937;
}
.about-section-left h3 {
  color: #f9faf8;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-size: 42px;
  font-weight: 500;
}

.about-section-left p {
  font-size: 22px;
  font-weight: 200;
  color: #f9faf8;
}
.about-section-right p {
  font-size: 22px;
  font-weight: 50;
  color: #1f2937;
}
.about-section-right .right-p {
  margin-top: 3rem;
}
.about-section-right button {
  border: 2px solid black;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #1f2937;
  margin-top: 50px;
}
.about-section-right button a {
  color: #f9faf8;
  font-size: 26px;
  text-decoration: none;
  font-weight: 200;
}
.about-section-right img {
  color: #f9faf8;
  width: 50px;
  position: absolute;
  margin-top: 50px;
}

.about-container .contact {
  font-size: 30px;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
}
ul li img {
  width: 50px;
  border-radius: 25%;
  border-color: #f9faf8;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  padding: 4vh;
  background-color: #1f2937;
  color: #f9faf8;
  font-family: Roboto-regular;
  font-size: 24px;
  margin-top: 5rem;
}
